/* Styling the header "Weather Dashboard" to try to mimic the mock-up */
header h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #6610f2;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(102,16,242,1) 35%, rgba(2,0,36,1) 100%);
    padding: 6px 0px 12px 0px;
}

.form-group label {
    font-size: 32px;
    font-weight: bold;
    padding-left: 6px;
}

#searchBtn {
    background-color: #5098E6;
    justify-content: center;
}

/* New below */
.navbar-brand { 
    margin: 0 auto;
    font-size: 60px;
}

.searchBar {
    float: left;
    width: 350px;
    border: 1px solid rgb(255, 255, 255, .3);
    padding: 10px;
    margin: 5px;
}

.master {
    color: white;
}

.mainTitle {
    font-size: 32px;
}

.mainBody {
    font-size: 20px;
}

.card-body {
    margin: 10px;
}

.icon, .card-title {
    display: inline;
}

.badge {
    height: 30px;
    width: 60px;
    font-size: 16px;
    color: white;
}

.forecast {
    height: 165px;
    width: 165px;
    float: left;
    margin: 7px;
    color: white;
}

.dayIcon {
    height: 50px;
    width: 50px;
}